<template>
 <q-page>
<div class="body">
<div class="row">
<div class="col-2">
<div class="name">
  <p class="label">Siti Aisyah</p>
</div>
</div>
</div>
<hr style="width: 70%;">
</div>

<div class="inline">
  <span class="i" style="margin-left: 70px;">
    <q-icon name="phone" style="font-size: 20px; color: #ff69b4;" />
    <b>Phone</b>
    <p>082566278344</p>
  </span>
  <span class="i" style="margin-left: 70px;">
    <q-icon name="mail" style="font-size: 20px; color: #ff69b4;" />
    <b>Email</b>
    <p>dedesitiaisyah@gmail.com</p>
  </span>

  <span class="i" style="margin-left: 70px;">
    <q-icon name="home" style="font-size: 20px; color: #ff69b4;" />
    <b>Addres</b>
  <p>Tasikmalaya</p>
</span>
</div>

<div class="background">
<span style="font-size: 30px; color: #ff69b4; font-family: times new roman;">Profile</span>
<br>
<img src="/assets/kity.png" alt="">
<p class="i" style="margin-top: -130px;">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<br>
<br>
<hr style="width: 100%;">

<div class="footer">
    <span class="i" style="margin-left: -110px;">
      <q-icon name="school" style="font-size: 20px; color: #ff69b4;" />
      <br>
      <p><b>Education</b></p>
      </span>
      <span class="i" style="margin-left: 60px;"><b>SDN 1 CIKADU</b>
        <p>2008-2013</p>
        </span>
        <span class="i" style="margin-left: 60px;"><b>SMP Yapida Cisayong</b>
          <p>2014-2017</p>
          </span>
      <span class="i" style="margin-left: 60px;"><b>SMK Daarul Abroor</b>
        <p>2017-2019</p>
        </span>
  </div>
</div>
 </q-page>
</template>

<style>
.name{
  width: 100px;
  height: 100px;
  border-radius: 50% 50%;
  background-color: #ff69b4;
  margin-left: 150px;
}
.label{
  font-family: algerian;
  padding: 35px;
  font-size: 25px;
}
.background{
width: 70%;
height: 200px;
background-color: white;
border: 1px;
position: absolute;
left: 150px;
}
img{
width: 100px;
height: auto;
}
.inline{
display: inline-block;
margin-left: 100px;
}
.i{
display: inline-block;
margin-left: 130px;
}
</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
