<template>
 <q-page>
<div class="right">
</div>
<div class="head">
  </div>
  <div class="name">
  <img style="width: 110px; height:110px;" src="/assets/icon.png" alt="">
  <p class="label" style="width: 900px;">Siti Aisyah</p>
    </div>
    <div class="body">
      <br><br><br><br>
      <div class="">
        <hr style="width: 80%; margin-left: 3opx;">
      </div>
      <span class="inline" style="margin-left: 250px;">
        <q-icon name="phone" style="font-size: 20px; color: #ff69b4;" />
        <b>Phone</b>
        <p>082566278344</p>
      </span>
      <span class="inline" style="margin-left: 200px;">
        <q-icon name="mail" style="font-size: 20px; color: #ff69b4;" />
        <b>Email</b>
        <p>dedesitiaisyah@gmail.com</p>
      </span>
      <span class="inline" style="margin-left: 200px;">
        <q-icon name="home" style="font-size: 20px; color: #ff69b4;" />
        <b>Home</b>
        <p>Tasikmalaya</p>
      </span>
      </div>
      <br>

      <div class="background">
        <div class="row">
          <div class="col-3">
            <span style="font-size: 30px; color: #ff69b4; font-family: times new roman; margin-left: 120px;
           margin-auto: 50;">
             Profile
           </span>
           <img style="width: 100px; height:100px; margin-left: 120px;" src="/assets/kity.png" alt="">
          </div>
          <div class="col-9 about">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
        <!-- <span style="font-size: 30px; color: #ff69b4; font-family: times new roman; margin-left: 120px;
        margin-auto: 50;">
          Profile
        </span>
        <br>
        <img style="width: 100px; height:100px; margin-left: 120px;" src="/assets/kity.png" alt="">
        <p class="inline">
          gshgh
        </p> -->
      </div>
      <br><br>

        <hr style="width: 80%;">
    <div class="footer">
      <span class="inline" style="margin-left: 50px;">
        <q-icon name="school" style="font-size: 20px; color: #ff69b4;" />
        <br>
        <p><b>Education</b></p>
        </span>
        <span class="inline" style="margin-left: 100px;"><b>SDN 1 CIKADU</b>
          <p>2008-2013</p>
          </span>
          <span class="inline" style="margin-left: 100px;"><b>SMP Yapida Cisayong</b>
            <p>2014-2017</p>
            </span>
        <span class="inline" style="margin-left: 100px;"><b>SMK Daarul Abroor</b>
          <p>2017-2019</p>
          </span>
    </div>
 </q-page>
</template>

<style>
.right{
  width: 800px;
  max-width: 100px;
  position: relative;
  margin: auto;
}
.about{
  text-align: justify;
  padding-right: 100px;
}
.name{
  position: absolute;
  left: 40px;
  margin-top: -4px;
}
.label{
  padding-left: 40px;
  margin-top: -70px;
  font-size: 25px;
  font-family: times new roman;
}
.inline{
display: inline-block;
}
</style>
<script>
export default {
  name: 'PageIndex'
}
</script>
